
#intro {
	width: 500px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	color: blue;
}

#map {
	width: 500px;
	margin: auto;
}

#info {
	width: 500px;
	margin: auto;
	font-family: 'Courier New';
	background-color: lightgrey;
}